%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et

[{http_pool,
  [{pools,
    [{test_pool,
      [{type, http},
       {port, 8080},
       {count, 10},
       {path, "/test/[...]"},
       {handle, http_pool_tests}
      ]},
     {test_pool_ws,
      [{type, websocket},
       {port, 8081},
       {count, 10},
       {path, "/test/[...]"},
       {handle, http_pool_tests}
      ]}
    ]}
  ]}
].

